/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
	 Changed from CSS to SASS
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes bg-intro-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes bg-intro-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes bg-intro-animation-logo {
  from {
    background-position: 0 calc(120px - 25vh);
  }
  to {
    background-position: 0 calc(100% - calc(120px - 75vh));
  }
}

@keyframes bg-intro-animation-logo {
  from {
    background-position: 0 calc(120px - 25vh);
  }
  to {
    background-position: 0 calc(100% - calc(120px - 75vh));
  }
}

@-webkit-keyframes bg-top-up-desktop {
  99% {
    height: 12vh;
  }
  100% {
    height: 12vh;
    display: none;
  }
}

@keyframes bg-top-up-desktop {
  99% {
    height: 12vh;
  }
  100% {
    height: 12vh;
    display: none;
  }
}

@-webkit-keyframes bg-top-up-phone {
  99% {
    height: 25vh;
  }
  100% {
    height: 25vh;
    display: none;
  }
}

@keyframes bg-top-up-phone {
  99% {
    height: 25vh;
  }
  100% {
    height: 25vh;
    display: none;
  }
}

@-webkit-keyframes show-menu-hidden-left {
  0% {
    margin-right: 45vw;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes show-menu-hidden-left {
  0% {
    margin-right: 45vw;
  }
  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes show-menu-hidden-right {
  0% {
    margin-left: 55vw;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes show-menu-hidden-right {
  0% {
    margin-left: 55vw;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes hide-menu-hidden-left {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 45vw;
    width: 0vw;
  }
}

@keyframes hide-menu-hidden-left {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 45vw;
    width: 0vw;
  }
}

@-webkit-keyframes hide-menu-hidden-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 55vw;
    width: 0vw;
  }
}

@keyframes hide-menu-hidden-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 55vw;
    width: 0vw;
  }
}

body {
  height: 100vh;
  width: 100vw;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.show-menu-hidden-right {
  -webkit-animation-name: show-menu-hidden-right;
          animation-name: show-menu-hidden-right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 55vw;
  height: 100vh;
  margin-left: 55vw;
  background-color: #ECECEC;
}

@media only screen and (max-width: 767px) {
  .show-menu-hidden-right {
    width: 100vw;
  }
}

@media only screen and (min-width: 768px) {
  .show-menu-hidden-right {
    width: 55vw;
  }
}

.show-menu-hidden-left {
  -webkit-animation-name: show-menu-hidden-left;
          animation-name: show-menu-hidden-left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 45vw;
  height: 100vh;
  margin-right: 45vw;
  background-color: #ECECEC;
}

@media only screen and (max-width: 767px) {
  .show-menu-hidden-left {
    display: none !important;
  }
}

.moving {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media only screen and (max-width: 767px) {
  .moving {
    -webkit-animation-name: bg-top-up-phone;
            animation-name: bg-top-up-phone;
  }
}

@media only screen and (min-width: 768px) {
  .moving {
    -webkit-animation-name: bg-top-up-desktop;
            animation-name: bg-top-up-desktop;
  }
}

.menu-hidden {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 200;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .menu-hidden {
    margin-top: 25vh;
  }
  .menu-hidden #menu-hidden-button-2 {
    display: none;
  }
  .menu-hidden .menu-hidden-right {
    height: 75vh;
  }
  .menu-hidden .menu-hidden-right ul {
    height: 65vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 2.5vh;
    padding-left: 0;
  }
  .menu-hidden .menu-hidden-right ul li {
    border-bottom: 1px solid #dddddd;
    width: 100vw;
  }
  .menu-hidden .menu-hidden-right ul li a {
    padding-left: 5vw;
  }
}

.menu-hidden-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto';
  color: #f2999d;
}

.menu-hidden-right-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu-hidden-button-2 {
  margin-right: 3vh;
  margin-top: 3vh;
  cursor: pointer;
}

.menu-hidden-right ul {
  height: 90vh;
  font-weight: bold;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .menu-hidden-right ul {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 768px) {
  .menu-hidden-right ul {
    font-size: 9vh;
  }
}

@media only screen and (min-width: 768px) {
  .menu-hidden-right ul li {
    padding-top: 1.9vh;
    padding-bottom: 1.9vh;
  }
}

.menu-hidden-right ul li a {
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .menu-hidden-right ul li a {
    padding-top: 1.9vh;
    padding-bottom: 1.9vh;
    width: 95vw;
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .menu-hidden-right ul li a:first-child {
    padding-top: 3vh;
  }
}

.menu-hidden-right ul li a:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu-hidden-right ul li a:hover {
    border-bottom: 1vh solid #f2999d;
  }
}

@media only screen and (max-width: 767px) {
  .menu-hidden-right ul li a:hover {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
}

.menu-footer {
  font-size: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .menu-footer {
    padding-left: 10vw;
    height: 10vh;
  }
}

@media only screen and (min-width: 768px) {
  .menu-footer {
    padding-left: 5vw;
  }
}

.menu-footer div {
  white-space: nowrap;
  margin-right: 4vw;
}

.hide-menu-hidden-left {
  -webkit-animation-name: hide-menu-hidden-left;
          animation-name: hide-menu-hidden-left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hide-menu-hidden-right {
  -webkit-animation-name: hide-menu-hidden-right;
          animation-name: hide-menu-hidden-right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.logo {
  width: 100vw;
  text-align: center;
  font-family: "Roboto";
  background-image: url("../images/pattern-3.jpg");
  background-repeat: no-repeat;
  background-position: 0 calc(100% - calc(12vh - 75vh));
  padding-bottom: 2vh;
  padding-top: 2vh;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .logo {
    font-size: 9vw;
    text-transform: uppercase;
    background-image: none;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    font-weight: 900;
    font-size: 20vh;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px #000000;
    color: rgba(161, 103, 128, 0.5);
    -webkit-animation: bg-intro-animation-logo 20s linear;
            animation: bg-intro-animation-logo 20s linear;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    background-size: 200%;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    background-size: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 44vh;
    height: 50vh;
    background-position: center;
    color: transparent;
  }
}

.main-container {
  background-image: url("../images/pattern-3.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-animation: bg-intro-animation 20s linear;
          animation: bg-intro-animation 20s linear;
}

@media only screen and (max-width: 767px) {
  .main-container {
    background-size: 200%;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    background-size: 100%;
  }
}

.menu {
  position: absolute;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Roboto';
}

@media only screen and (max-width: 767px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media only screen and (min-width: 768px) {
  .menu ul {
    width: 100%;
  }
}

.menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45vh;
  font-size: 3vh;
}

@media only screen and (min-width: 768px) {
  .menu-logo {
    font-weight: bold;
  }
}

@media only screen and (max-width: 767px) {
  .menu-logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 25vh;
    height: 25vh;
    color: transparent;
  }
}

.menu li:hover {
  margin-top: 0.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.5vh solid black;
  cursor: pointer;
}

.menu lord-icon:hover {
  border: none;
  cursor: pointer;
}

.menu lord-icon {
  margin-right: 3vh;
  margin-left: 3vh;
}

@media only screen and (max-width: 767px) {
  .menu lord-icon {
    margin-top: 3vh;
  }
}

@media only screen and (min-width: 768px) {
  .menu lord-icon {
    margin-top: 3vh;
  }
}

.menu li {
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .menu li {
    display: none;
  }
}

.bg-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  background-image: -webkit-gradient(linear, left top, right top, from(#f2999d), to(#f8d3de));
  background-image: linear-gradient(to right, #f2999d, #f8d3de);
  height: calc(50vh - 0.2vh);
  width: 100%;
  border-bottom: 0.2vh solid #db7f84;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn-intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

#btn-intro:hover {
  border: 0.4vh solid #000000;
  cursor: pointer;
}

#btn-intro {
  background: none;
  border-radius: 10px;
  font-family: 'Roboto';
  border: 0.2vh solid #000000;
  -webkit-text-stroke: 0.5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(56, 38, 38, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(56, 38, 38, 0.3);
}

@media only screen and (max-width: 767px) {
  #btn-intro {
    font-size: 6vw;
    width: 35vw;
    height: 12vw;
  }
}

@media only screen and (min-width: 768px) {
  #btn-intro {
    font-size: 3.5vh;
    width: 20vh;
    height: 10vh;
  }
}

#btn-intro.active {
  -webkit-box-shadow: inset -20vh 0 0 0 #f2999d, inset 20vh 0 0 0 #f2999d;
          box-shadow: inset -20vh 0 0 0 #f2999d, inset 20vh 0 0 0 #f2999d;
  border: 0.2vh solid #000000;
  color: #ffffff;
  font-weight: bold;
}
/*# sourceMappingURL=global.css.map */